.button {
  width: 130px;
  border: none;
  margin-left: 2px;
  background-color: var(--primaryitemcolor);
  color: white;
  border-radius: 7px;
  font-size: 18px;
  transition: 0.3s;
}

.button:hover {
  background-color: #ef4c06;
}
